# Data Science Tools and Ecosystem

In this notebook, we will take a general look at the tools of data science and ecosystem.

Some of the popular languages that Data Science use are:
1. Python
2. SQL
3. R

Some of the most used libraries in data science are:
 - Pandas
 - Numpy
 - Matplotlib
 - Seaborn
 - Keras


| Data Science Tools |
| --- |
| Apache Zeppelin |
| RStudio |
| Jupyter Lab |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python:

In [21]:
#This is a simple arithmetic expression to multiply then add integers.
(3 * 4) + 5

17

In [22]:
# This will convert 200 minutes to hours by diving by 60
Hours = 200 / 60
print(Hours)

3.3333333333333335

**Objectives:**

 - Data Science Tools
 - Languages of Data Science
 - Libraries
 - APIs
 - RStudio

## Author
Adosedeel Herrera Osorio